apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: need-model-cache-pvc
  namespace: act-test
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi # Adjust size based on your model cache needs
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: need-deployment
  namespace: act-test
  labels:
    app: need-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: need-service
  template:
    metadata:
      labels:
        app: need-service
    spec:
      nodeName: dell-65  # 强制指定节点为dell-65
      volumes:
      - name: cache-volume
        persistentVolumeClaim:
          claimName: need-model-cache-pvc
      - name: dshm
        emptyDir:
          medium: Memory
      containers:
      - name: need-container
        # image: gpu-harbor.act.buaa.edu.cn/user-liyilong/envd-vllm:0.8.5-cu12.6-rdma
        # image: gpu-harbor.act.buaa.edu.cn/user-wangxi25/vllm:v0.9.0.1
        # image: gpu-harbor.act.buaa.edu.cn/user-wangxi25/vllm:v0.8.0
        image: gpu-harbor.act.buaa.edu.cn/user-wangxi25/vllm:v0.8.5
        # image: ghcr.nju.edu.cn/sasha0552/vllm:latest
        # image: gpu-harbor.act.buaa.edu.cn/user-liyilong/envd-vllm:0.8.3-cu12.4-rdma-v1
        args: [
          "--dtype", "float16",
          "--model", "Qwen/Qwen3-4B",
          "--max_model_len", "8192",
          "--trust-remote-code",
          "--port", "8000"
        ]
        env:
        - name: HF_ENDPOINT
          value: "https://hf-mirror.com"
        # - name: VLLM_LOGGING_LEVEL
        #   value: "DEBUG"  # 设置日志级别为DEBUG
        - name: VLLM_CPU_KVCACHE_SPACE
          value: "1"
        - name: CUDA_LAUNCH_BLOCKING
          value: "1"
        - name: VLLM_WORKER_MULTIPROC_METHOD
          value: "spawn"
        - name: CUDA_VISIBLE_DEVICES
          value: "0"
        # 设置读取hf_token
        - name: HUGGING_FACE_HUB_TOKEN
          valueFrom:
            secretKeyRef:
              name: hf-token-secret
              key: token
        - name: HF_TOKEN
          valueFrom:
            secretKeyRef:
              name: hf-token-secret
              key: token
        ports:
        - containerPort: 8000
        resources:
          limits:
            nvidia.com/gpu: "1"
          requests:
            nvidia.com/gpu: "1"
        volumeMounts:
        - mountPath: /root/.cache/huggingface
          name: cache-volume
        - mountPath: /dev/shm
          name: dshm
---
apiVersion: v1
kind: Service
metadata:
  name: need-service
  namespace: act-test
spec:
  selector:
    app: need-service
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 8000
  type: NodePort 